<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../public/css/styles.css">
    <title><%= title %></title>
</head>
<body>
<h1>Success</h1>
<p><%= message %></p>
<%- include('partials/back') %>
</body>
</html>
